
.section.marquee-container {
    padding: 0;
}


.section.marquee-container .marquee-wrapper {
    max-width: 100%;
    display: inline;
}




.marquee {
    width: 100%;
    height: 100%;

}


.marquee .background {
    width: 100%;
    height: 100%;
    position: absolute;
    max-height: inherit;
    box-sizing: border-box;
}


.marquee .foreground {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    position: relative;
    color: white;
}


.marquee .background div {
    max-height: inherit;
    box-sizing: border-box;
    position: relative;
}


.marquee .background div picture {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
    max-height: inherit;
    
}

.marquee .background div picture img {
    position: relative;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height: inherit;
    box-sizing: border-box;
    /*height: 100%;*/
}

.marquee .button-container {
    z-index: 0;
    margin: 10px;
    position: relative;
}

.marquee .button-container a.button {
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: fit-content;
  

}

.marquee .button-container a.button:hover {
    background-color: var(--highlight-background-color);
}

