.booknow {
    position: fixed;
    right: 10px;
    bottom: -4px;
    padding: 0px 10px 25px 0px;
}

.booknow .button-container a.button {
    z-index: 2;
    background-color: rgb(176,136,4);
    color: white;
    font-size: 16px;
    padding: 24px 48px;
    border: white;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: fit-content;
    
  
  }