.section.meetthebarbers-container {
    padding: 0;
}


.section.meetthebarbers-container .meetthebarbers-wrapper {
    max-width: 100%;
    display: inline;
}

#meet-the-barbers {
    text-align: center;
}

.meetthebarbers {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: stretch;
    align-items: end;
}

.meetthebarbers .portrait {
    /*padding: 10px 10px 10px 10px; */
    object-fit: fill;
    display:grid;
}


.meetthebarbers .portrait .face {
    object-fit: fill;
    padding: 0;
}

.meetthebarbers .portrait .face picture {
    object-fit: fill;
}

.meetthebarbers .portrait .face picture img {
    border-radius: 50%;
    object-fit: cover;
}

/*
.meetthebarbers .portrait .face picture img::before {
    position:absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    content: "";
    border-radius: 5% / 50%;
    object-fit: cover;
}
*/

.meetthebarbers .portrait .name {
    text-align: left;
}
