.section.meetthebarbers-container {
    padding: 0;
}


.section.meetthebarbers-container .meetthebarbers-wrapper {
    max-width: 100%;
    display: inline;
}

#meet-the-barbers {
    text-align: center;
}

.meetthebarbers {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: stretch;
    align-items: end;
}

.meetthebarbers .portrait {
    object-fit: fill;
    display:grid;
}


.meetthebarbers .portrait .face {
    object-fit: fill;
    padding: 0;
}

.meetthebarbers .portrait .face picture {
    object-fit: fill;
}

.meetthebarbers .portrait .face picture img {
    border-radius: 50%;
    object-fit: cover;
}



.meetthebarbers .portrait .name {
    text-align: left;
    font-style: oblique;
}
